
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
.title{
color: #292626;
margin-bottom: 20px;
margin-left: 64px;
}

.slider {
	background: rgb(255, 255, 255);
	box-shadow: 0 10px 20px -5px rgba(250, 244, 244, 0.125);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 90%;
}
.slider::before, .slider::after {
	background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(245, 240, 240, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}
.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}
.slider::before {
	left: 0;
	top: 0;
}
.slider .slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
}
.slider .slide {
	height: 100px;
	width: 250px;
}
